@model Data_Loading_Tool.Models.CreateViewDimensionModelList

@{
    ViewBag.Title = "Create View - Third Step";
}

<h2>Create View Third Step</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateViewModel</legend>

        @for (int i = 0; i < Model.Models.Count(); i++)
        {            
            <div class="form-group">
                @Html.DisplayFor(model => Model.Models[i].MeasureName, new { @class = "control-label" })
                @Html.HiddenFor(model => Model.Models[i].MeasureName);
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => Model.Models[i].DimensionID);
                @Html.HiddenFor(model => Model.Models[i].DimensionName);
                @Html.DisplayFor(model => Model.Models[i].DimensionName, new { @class = "control-label" })
            </div>

            <div class="form-group">
                @Html.RequiredLabelFor(model => Model.Models[i].SelectedDimensionValueIDs, new { @class = "control-label" })
            </div>
            <div class="form-group">
                @Html.ListBoxFor(model => Model.Models[i].SelectedDimensionValueIDs, Model.Models[i].DimensionValues, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Models[i].SelectedDimensionValueIDs)
            </div>
        }

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>

    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
