@model Data_Loading_Tool.Models.DataViewIndexModel

@{
    ViewBag.Title = "Data Views Index";
}

<h2>Data Views Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Success:</strong> @TempData["SuccessMessage"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataViewModels.First().DataViewName)
        </th>       
    </tr>

@foreach (var item in Model.DataViewModels)
{
    <tr>        
        <td>
            @Html.ActionLink(item.DataViewName, "ViewDetails", new { viewID = item.DataViewID }, new { @class = "btn btn-link" })
        </td>        
    </tr>
}

    @Html.ActionLink("Create New View", "CreateViewFirstStep", null, new { @class = "btn btn-link" })

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}