@model Data_Loading_Tool.Models.GeneralStagingModel

@{
    ViewBag.Title = "Create Staging Table";
}

<h2>Create Staging Table</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Staging Details</legend>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.TableName, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.TableName)
            @Html.ValidationMessageFor(model => model.TableName)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
