@model Data_Loading_Tool.Models.StagingIndexModel

@{
    ViewBag.Title = "Staging Table Index";
}

<h2>Staging Table Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Success:</strong> @TempData["SuccessMessage"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "CreateStaging", new { }, new { @class = "btn" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.StagingModels.First().TableName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.StagingModels)
{
    <tr>
        <td>
            @Html.ActionLink(item.TableName, "DatasetDetails", new { datasetID = item.TableID }, new { @class = "btn btn-link" })
        </td>        
        <td>
            @Html.ActionLink("Upload Data", "UploadToStaging", new { tableID = item.TableID }, new { @class = "btn btn-link" })
        </td>
        <td>
            @Html.ActionLink("Create Measure", "CreateMeasure", "Dataset", new { stagingDatasetID = item.TableID }, new { @class = "btn btn-link" })
        </td>
        <td>
            @Html.ActionLink("Create Dimension", "CreateDimension", "Dataset", new { stagingDatasetID = item.TableID }, new { @class = "btn btn-link" })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}