@model Data_Loading_Tool.Models.UploadStagingModel

@{
    ViewBag.Title = "Upload To Staging";
}

<h2>Upload Data To Staging</h2>



@using (Html.BeginForm("UploadToStaging", "Staging", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateStagingModel</legend>

        @Html.HiddenFor(model => model.StagingTableID)

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.UniqueUploadRef, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.UniqueUploadRef)
            @Html.ValidationMessageFor(model => model.UniqueUploadRef)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.FirstUpload, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.FirstUpload)
            @Html.ValidationMessageFor(model => model.FirstUpload)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.UnpivotData, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.UnpivotData)
            @Html.ValidationMessageFor(model => model.UnpivotData)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.GeographyColumn, new { @class = "control-label" })
            @Html.EditorFor(model => model.GeographyColumn)
            @Html.ValidationMessageFor(model => model.GeographyColumn)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(m => m.attachment, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.attachment, new { type = "file" })
            @Html.ValidationMessageFor(model => model.attachment)
        </div>

        @*<div class="form-group">
            <input type="file" class="form-control" name="FileUpload" />
            @Html.ValidationMessageFor(model => model.attachment)
        </div>*@
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="Submit" id="Submit" value="Upload" />
        </div>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

