@model Data_Loading_Tool.Models.UploadStagingModel

@{
    ViewBag.Title = "UploadToStaging";
}

<h2>UploadToStaging</h2>


 
 @using (Html.BeginForm("UploadToStaging", "Staging", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateStagingModel</legend>
        
        @Html.HiddenFor(model => model.StagingTableID)

        <div class="editor-label">
            @Html.LabelFor(model => model.UniqueUploadRef)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UniqueUploadRef)
            @Html.ValidationMessageFor(model => model.UniqueUploadRef)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstUpload)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstUpload)
            @Html.ValidationMessageFor(model => model.FirstUpload)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnpivotData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnpivotData)
            @Html.ValidationMessageFor(model => model.UnpivotData)
        </div>


        <input type="file" name="FileUpload" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />

    </fieldset>
 }

