@model Data_Loading_Tool.Models.CreateMeasureModel

@{
    ViewBag.Title = "Create New Measure";
}

<h2>Create New Measure</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateMeasureModel</legend>

        @Html.HiddenFor(x => x.StagingTableName)

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.MeasureName, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.MeasureName)
            @Html.ValidationMessageFor(model => model.MeasureName)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.MeasureColumnID, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.MeasureColumnID, Model.StagingColumnsForMeasure, "Single Count per Row", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MeasureColumnID)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.GeographyColumnID, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.GeographyColumnID, Model.StagingColumnsForGeography, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GeographyColumnID)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.GeographyTypeID, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.GeographyTypeID, Model.GeographyTypes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GeographyTypeID)
        </div>

        <div class="form-group">
            @Html.RequiredLabelFor(model => model.selectedDimensions, new { @class = "control-label" })
        </div>
        <div class="form-group">
            @Html.ListBoxFor(x => Model.selectedDimensions, Model.DimensionsForMeasureBreakdown, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.selectedDimensions)
        </div>

        @Html.HiddenFor(x => x.StagingDatasetID)

        @for (var i = 0; i < Model.MeasureDetails.Count(); i++ )
        {
            @Html.HiddenFor(model => Model.MeasureDetails[i].StagingColumnID)
            <div class="form-group">
                @Html.RequiredLabelFor(model => Model.MeasureDetails[i].StagingColumnName, new { @class = "control-label" })
                @Html.ValueFor(model => Model.MeasureDetails[i].StagingColumnName)
            </div>

            <div class="form-group">
                @Html.RequiredLabelFor(model => Model.MeasureDetails[i].DimensionValueID, new { @class = "control-label" })
                @Html.DropDownListFor(model => Model.MeasureDetails[i].DimensionValueID, Model.MeasureDetails[i].AvailableDimensions, "--- Not Applicable ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.MeasureDetails[i].DimensionValueID)
            </div>

        }

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
