@model Data_Loading_Tool.Models.MapMeasureDimensionsModel

@{
    ViewBag.Title = "MapMeasureDimensions";
}

<h2>MapMeasureDimensions</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MapMeasureDimensionsModel</legend>
        
        @for (var i = 0; i < Model.MeasureValueDetails.Count(); i++ )
        {        
            <div class="editor-label">
                @Html.LabelFor(model => Model.MeasureValueDetails[i].Dim)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => Model.MeasureValueDetails[i].Dim, Model.MeasureValueDetails[i].Dimensions)
                @Html.ValidationMessageFor(model => Model.MeasureValueDetails[i].Dim)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.MeasureValueDetails[i].StagingDim)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => Model.MeasureValueDetails[i].StagingDim, Model.MeasureValueDetails[i].StagingDimensions)
                @Html.ValidationMessageFor(model => Model.MeasureValueDetails[i].StagingDim)
            </div>

        }
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
